<h2>Зарегистрироваться</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class:"form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="field">
      <%= f.label "Электронная почта", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.email_field :email, class: "form-control", placeholder: "Электронная почта" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 padding-left-15">
      <% if @minimum_password_length %>
        <em>Минимальное количество знаков: <%= @minimum_password_length %></em>
      <% end %> 
    </div>
    <div class="field">
      <%= f.label "Пароль", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">   
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Пароль" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Подтверждение пароля", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Подтверждение пароля" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Имя", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.text_field :first_name, autocomplete: "off", class: "form-control", placeholder: "Имя" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Отчество", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.text_field :middle_name, autocomplete: "off", class: "form-control", placeholder: "Отчество" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Фамилия", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.text_field :last_name, autocomplete: "off", class: "form-control", placeholder: "Фамилия" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Телефон", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.text_field :phone, autocomplete: "off", class: "form-control", placeholder: "Телефон" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Организация", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.text_field :organization, autocomplete: "off", class: "form-control", placeholder: "Организация" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Город", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.text_field :city, autocomplete: "off", class: "form-control", placeholder: "Город" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Адрес", class: "col-sm-3 control-label nowrap" %>
      <div class="col-sm-6">
      <%= f.text_field :address, autocomplete: "off", class: "form-control", placeholder: "Адрес" %>
      </div>
    </div>
  </div>  

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6 actions">
      <div id="RecaptchaField1"></div><%= hidden_field_tag :grecaptcha %>
    </div>
  </div>  

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6 actions">
      <%= f.submit "Зарегистрироваться", class:"green-button button-height" %>
    </div>
  </div>

<% end %>

<div class="col-sm-offset-3 col-sm-6 actions">
  <%= render "devise/shared/links" %>
</div>