<h1 class="page-header">Новости</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Содержимое</th>
      <th>Отправлено</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.content %></td>
        <td><%= news.sent %></td>
        <td><%= link_to 'Показать', [:admin, news] %></td>
        <td><%= link_to 'Редактировать', edit_admin_news_path(news) %></td>
        <td><%= link_to 'Удалить', [:admin, news], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Новая новость', new_admin_news_path %>
