<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Сделан заказ</h1>

    <p>
      Создан новый заказ <%= @user ? "от имени пользователя " + @user.email : "" %> со следующими данными.
    </p>

    <p>
      <strong>Имя:</strong>
      <%= @order.name %>
    </p>

    <p>
      <strong>Город:</strong>
      <%= @order.city %>
    </p>

    <p>
      <strong>Электронная почта:</strong>
      <%= @order.email %>
    </p>

    <p>
      <strong>Телефон:</strong>
      <%= @order.phone %>
    </p>

    <p>
      <strong>Содержимое:</strong>
      <%= @order.content %>
    </p>

  </body>
</html>